.card-body {
    display: inline-flex;
    position: relative;
    justify-content: center;
}
.card {
    display: inline-flex;
    position: relative;
    color: white;
    background-color: rgb(45, 3, 85,.9);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    font-size: 1.5rem;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(var(--rotate-y,0));
    transition: 600ms;
}

.card:hover {
    box-shadow: 2px 2px 2px 0px purple;
}

.card.flip {
    --rotate-y: 180deg;
}

.card .front, .card .back {
    position: absolute;
    padding: 10px;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg)
}

.flip {
    background-color: rgba(75, 3, 85, 0.9);
}

#link {
    padding-top: 100px;
}

.edit {
    margin-top: 175px;
    position: absolute;
    width: 200px;
}

#edit-button, #delete-button {
    background-color: purple;
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    border: none;
    margin-right: 5px;
    margin-bottom: -20px;
}

#edit-button:hover, #delete-button:hover {

    border: rgba(0, 0, 0, 0.5) solid;
}

.date-modified {
    color: white;
    font-size: 0.75rem;
}

.status-list {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: -170px;
    margin-left: 0px;
    margin-bottom: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.status-list > p  {
    width: 200px;
}

#hidden {
    display: none;
}